html {
	background-color: #282828;
}

::selection {
	background: #8e86d3;
  }

body {
	font-family: "Hack", monospace;
	max-width: 45rem;
	padding: 2rem;
	padding-top: 0.5rem;
	margin: auto;
	line-height: 1.5;
	background: #303030;
	color: #E8E6E2;
	margin-top: 1em;
	margin-bottom: 1em;
}

@media only screen and (max-device-width: 736px) {
	main {
		padding: 0.2rem;
	}
}

pre {
	background-color: #323338;
	padding: 1em;
	border: 0;
}

a,
a:active,
a:visited {
	color: #BAF6FF;
	background-color: #202020;
}

code {
	color: #BAF6FF;
	font-family: "Hack", monospace;
	background-color: #202020;
}

h1,
h2,
h3,
h4,
h5 {
	margin-bottom: 0.1rem;
}

ul { list-style-type: "-> "; }

footer {
	text-align: center;
}

.title {
	text-decoration: underline;
	margin-top: 2rem;
}